/* @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  } */

html, body {
    margin: 0; 
    padding: 0; 
    overflow-x:hidden;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

}
.static{
    height: 70%;
}
.dynamic{
    height: 30%;
}
.restext{
    color: white;
    font-size: 42px;
}
canvas{

    width:1400px !important;
    height:700px !important;
  
  }
.landing{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #15202B;
}
.algorithm{
    position: absolute;
    top: 38%;
    left: 2%;
    border-right:  #38444d 2px solid;
    font-weight: 800;
    font-size: 80px;
    color: white;
}
.form{
    position: absolute;
    top: 36%;
    left: 52%;
    border-right:  #38444d 2px solid;
    color: white;

}
