/* @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  } */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

.alert {
  width: 41%;
  margin-bottom: 1px;
  margin-left: 3px;
  height: 35px;
  line-height: 35px;
  padding: 0px 20px;
}

.form {
  position: absolute;
  top: 20%;
  left: 52%;
  color: white;
}
.btn-primary {
  margin-left: 10px;
  width: 41%;
  border-radius: 50px;
  /* border:  rgb(182, 182, 182) 1px solid!important; */
}

.bulk {
  display: none;
}
.formulario {
  dispay: block;
}
.radio {
  margin-right: 200px;
}
.radios {
  margin-bottom: 20px;
}
